@import "/styles/colors.scss";

.defaultInput {
    margin-bottom: 0.8rem;

    label {
        color: #BBBBBB;
        font-weight: 500;
        font-size: 14px;
    }

    input, textarea {
        margin-top: 0.3rem;
        padding: 0.5rem 0.8rem;
        border: 1px solid #BBBBBB;
        border-radius: 4px;
        display: block;
        width: 100%;
        color: rgba($color: #000000, $alpha: 0.6);

        &:focus {
            outline: none;
            border: 1px solid $green-primary;
        }
    }

}