@import "/styles/colors.scss";

$navbar-height:40;
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  height: 40px;
  z-index: 9999;
  background-color: white;


  ::after {
      content: " ";
      position: fixed;
      border-bottom: 1px solid #848484;
      left: 0;
      right: 0;
      top: 70px;
  }


  ul {
    // display: grid;
    grid-auto-flow: column;
    place-content: center;
    margin: auto;
    gap: 30px;

    li {
      color: #5c5b5b;
      font-size: 14px;
      font-weight: 500;
      transition: all ease 0.3s;


      &:hover {
          color: $green-primary;
      }
    }
  }
}



