@import "/styles/colors.scss";

.ProfilePage {
    background-color: #FBFBFB;
    padding-top: 7rem;

    .ProfilePageUser {
        .ProfileUserCard {
            table {
                width: 100%;
            }
            table tr td {
                font-size: 14px;
                line-height: 1.75rem;
            }
        }
    }

    .ProfilePageJasa {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}