.FindCulvitatorPage {
    padding-top: 7rem;
    background-color: #FBFBFB;
    padding-bottom: 5rem;

    .FindCulvitatorPageContent {
        display: grid;
        grid-template-columns: 1.5fr 3.5fr;
        column-gap: 1rem;

        max-height: 100vw;
        overflow: hidden;
    }

    .CardItemOffer {
        background-color: #fff;
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;

        .CardItemOfferHeader {


            h5 {
                color: #00885F;
                font-weight: 600;
                line-height: 1.5rem;
                margin-bottom: 0.2rem;
            }
        }

        .CardItemOfferTable {
            
            tr td {
                font-size: 10px;
            }
        }

        .CardItemOfferProfile {
            height: 40px;
            width: 40px;
            background-color: rgb(148, 148, 148);
        }
    }
}