@import "/styles/colors.scss";

.loginPage {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .newOffer {
        
        h3 {
            font-size: 16px;
            font-weight: 500;
        }

        h4 {
            font-size: 14px;
            font-weight: 500;
            color: $green-primary;
        }

        p {
            margin-top: 0.5rem;
            color: #C4C4C4;
            font-size: 10px;
        }

        .imageOffer {
            height: 60px;
            width: 60px;
            background-color: red;
        }
    }

    .form {
        h4 {
            font-size: 28px;
            font-weight: 600;

        }
    }
}

@media screen and (max-width: 728px) {

    .loginPage {
        grid-template-columns: 1fr;
        
        .newOffer {
            margin-top: 2rem;
            grid-row: 2;
        }
    }
}